* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(220, 13%, 91%);
}

h2 {
  font-family: Monospace;
  font-size: 2.2rem;
  text-align: center;
}

p {
  margin-top: 10px;
}

.container {
  width: 100%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Monospace;
}

.editable {
  width: 80%;
  height: 200px;
  background-color: hsl(220, 8.9%, 46.1%);
  cursor: text;
  margin-top: 10px;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid hsl(215, 13.8%, 34.1%);
  background-color: transparent;
  color: hsl(220, 13%, 91%);
  font-size: 1rem;
  font-weight: bold;
  font-family: Monospace;
}

input:focus {
  outline: none;
  border: 1px solid hsl(215, 13.8%, 34.1%);
}

input::placeholder {
  color: hsl(218, 10.6%, 64.9%);
  font-size: 1rem;
  padding-bottom: 5px;
  font-family: Monospace;
}

textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  color: white;
  cursor: text;
  font-size: 18px;
  resize: none;
  background-color: hsl(220, 8.9%, 46.1%);
}

textarea:focus {
  outline: none;
  border: 1px solid hsl(215, 13.8%, 34.1%);
  resize: none;
}

textarea::placeholder {
  color: hsl(218, 10.6%, 64.9%);
  font-size: 1rem;
  padding-top: 5px;
}

#btn {
  border: none;
  margin-top: 2.5rem;
  width: 130px;
  padding: 10px 0;
  background-color: hsl(142, 70.6%, 45.3%);
  color: white;
  border-radius: 5px;
  font-size: 17px;
  font-family: Monospace;
  font-weight: bold;
}

.note-section {
  width: 70%;
  margin-top: 20px;
  background-color: hsl(50, 97.8%, 63.5%);
  padding: 12px;
  text-align: left;
  white-space: normal;
  word-break: break-all;
  line-height: 1.6rem;
  font-size: .9rem;
  position: relative;
}

.note-div {
  border-bottom: 1px solid hsl(220, 14.3%, 95.9%);
  margin-bottom: 6px;
}

.num {
  font-size: 1.1rem;
  margin-bottom: 7px;
}
.text {
  margin-bottom: 11px;
}

.heading {
  font-size: 1.3rem;
}

.delete-btn {
  border: none;
  padding: 8px 8px;
  background-color: tomato;
  margin-bottom: 9px;
  border-radius: 4px;
  font-family: Monospace;
}

.save-text {
  text-align: center;
}